@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

::selection{
    background-color: #001fec;
    color: #080808;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: roboto;
    background-color:#080808;
}
.navigaion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    max-width: 1400px;
    margin: auto;    
    width: 100%;
}
.navigaion .menu-icon{
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 103;
}
.navigaion  .menu-icon .nav-icon{
    background-color: #ffff;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-out;
}
.navigaion  .menu-icon .nav-icon::before,
.navigaion  .menu-icon .nav-icon::after{
    background-color: #ffff;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;

}
.navigaion  .menu-icon .nav-icon::before {
    top: 8px;
}
.navigaion  .menu-icon .nav-icon::after{

    top: -8px;
}
.navigaion .menu-btn:checked ~.menu-icon .nav-icon{
    background: transparent;
}

.navigaion .menu-btn:checked ~.menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0px;
}
.navigaion .menu-btn:checked ~.menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0px;
}
.menu-btn{
    display: none;
}

/*Menu style is start */
.menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #080808;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: fade 0.3s;

}
.menu li a{
    color: #ffff;
    margin: 0px 40px;
    font-size: 2rem;
    font-family: monoton;
    transition: all ease 0.3s;
}
.menu li a:hover{
    font-size: 2.3rem;
    color: #001fec;
    transition: all ease 0.3s;
}
.navigaion .menu-btn:checked ~ .menu{
    display: flex;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.logo{
    color: #001fec;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: center;
    font-family: monoton;
    letter-spacing: 1px;

}
.logo span {
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}
.search-box{
    background-color: #949494;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}
.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
}
.search-box ::placeholder{
    color: rgb(255, 255, 255);
}
.search-box button{
   background-color: transparent;
   color: #ffff; 
   outline: none;
   cursor: pointer;
   border: none;
}
#main-slider {
 display: flex;
 justify-content: center;
 align-items: center;   
 margin: 20px auto;
 max-width: 1170px;
 width: 100%;
}
.main-slider-box{
   width: 100%;
   height: 450px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   border: 1px solid #0e0e01c2;
    overflow: hidden;
   position: relative;
   user-select: none;
   border-radius: 5%;
}
.main-slider-img{
    width: 100%;
    height: 100%;
}
.main-slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-slider-text{
    position: absolute;
    left:0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #161616b9 35%, rgba(73,73,73,0.23) 64%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}
.main-slider-text .quality{
    background-color:#001fec;
    color: #080808;
    font-weight: 600;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.main-slider-text .movie-name{
    display: flex;
     flex-direction: column;
    align-items: flex-start;
    margin-top: 100%;
}
.main-slider-text .movie-name span{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240,  240, 0.82);
}
.main-slider-text .movie-name  strong, 
.main-slider-text  .movie-name a{
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    color: #dfdfdf;
    letter-spacing: 0.5px;
}
.main-slider-text .category{
    color: #949494;
    font-size: 0.8rem;
    font-weight: 500;

}
.main-slider-text .category a{
    color:#001fec;
    margin: 0px 2px;

}
.rating img{
    height: 10px;
    width: 20px;
    object-fit: contain;
    object-position: center;

}
.rating  {
    font-size: 0.8rem;
    color: white;
    letter-spacing: 1px;
}
.main-slider-text .categry-rating{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.main-slider-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    background-color: rgba(27,27,27,0.6  );
    display: flex;
    justify-content:center ;
    align-items: center;
    color: #ffffff;
    transition: all ease 0.3s;
}
.main-slider-overlay i {
    font-size: 2rem;
}
.main-slider-box:hover .main-slider-overlay{
    top: 0px;
    transition: all ease 0.3s;
}
.swiper-button-next,
.swiper-button-prev{
    position: static !important;
    transform: translate(0,0);
    margin: 10px 0px 0px 20px !important;

}
.slider-btns{
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    margin: 10px auto 0px auto;
 
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 25px !important;
    font-weight: 800;
    color: #ffffff;
}

#lastest{
    max-width: 1170px;
    margin: 30px auto;
    width: 100%;

}
.lastest-heading{
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;
}
.lastest-heading h1{
    color: #dadada;
    font-size: 1.3rem;
    font-weight: 500;
}
.post-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    margin: 20px 0px;

}
.post-box{
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;
    box-shadow: -4px -3px 31px 4px rgba(0,0,0,0.90);
    position: relative;
    border-radius: 5%;

}
.post-box .post-img{
    width: 100%;
    height: 100%;
}
.post-box .post-img img {
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
}
.page-number{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #949494;
    margin-top: 50px;
}
.page-number a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0px 13px;
    opacity: 0.5;
    transition: all ease 0.3s;
}
.page-number .page-active,
.page-number a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}
footer{
    background-color: #0e0e0ec2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}
footer .copyright{
    color: #949494;
    font-size: 0.9rem;
}
footer .logo{
    margin: 0px;
    font-size: 2rem;
    font-weight: 400;
}

.fix-icon{
   position: fixed;
   left: 40px;
   top: 40px;
   background-color: #1c1f25;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;

}

#progress{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    box-shadow: -4px -3px 31px 4px rgba(0,0,0,0.90);
    display: grid;
    place-items: center;
    z-index: 2;


}
#progress-value {
    display: block;
    height: calc(100% - 5px);
    width: calc(100% -5px);
    background-color: #1c1f25;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 0px;
}
    



























 